header.Header {
    background-color: #f0f0f0;
}

.Header .container {    
    height: 3rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.Header li {
    list-style: none;
    line-height: 50px;
    cursor: pointer;
    padding-inline: 10px;
    &:hover {
        background-color: rgb(88, 88, 142);
    }
}
