form.formPayment {
    label {
        text-align: left;
        & input {
            text-align: left;
            width: 100%; 
            height: 2lh;
            padding-inline: 0.5rem;
            &:valid {
                border: 1px solid black;
            }
            &:invalid {
                border: 2px solid red;
            }
        }
    }
}